<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterFollower.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TwitterFollower.Properties.Settings.FollowersConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Followers.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TwitterFollower.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCESS_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="API_SECRET_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="ACCESS_TOKEN_SECRET" serializeAs="String">
                <value />
            </setting>
            <setting name="BEARER_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="SCREEN_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value />
            </setting>
        </TwitterFollower.Properties.Settings>
    </userSettings>
</configuration>